body {
  font-family: sans-serif;
  background: #f2f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  text-align: center;
}

.screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
}

.hotspot {
  position: absolute;
  cursor: pointer;
 /* background-color: rgba(0, 123, 255, 0);  invisible */
  transition: background-color 0.2s;
}

/*.hotspot:hover {
  background-color: rgba(0, 123, 255, 0.2);  visible au survol pour dev  
}*/